<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<configuration>
	<!-- 数据库主机IP -->
	<option name="dbHost" value="127.0.0.1" />
	<!-- 数据库端口 -->
	<option name="dbPort" value="27017" />
	<!-- 数据库名 -->
	<option name="dbName" value="test" />
	<!-- 数据库用户名 -->
	<option name="dbUser" value="root" />
	<!-- 数据库密码 -->
	<option name="dbPass" value="root" />
</configuration>